aside.card .clip{
            position: absolute;
            background-color: #ff0c9a;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            clip-path: circle(15% at 105% 47.5%);
            transition: 0.5s all ease-in-out;
        }

        aside.card .clip h2 {
            color: #fafafa;
            font-size: 22px;
            font-weight: 500;
        }

        aside.card .clip p {
            color: #f1f1f1;
            font-size: 18px; 
            font-weight: 400;
        }

        aside.card .clip .arrow {
            position: absolute;
            right: 2px;
            top: calc(50% - 20px);
            visibility: visible;
            opacity: 1;
            transition: 0.2s all ease-in-out;
        }

        aside.card .clip .arrow svg {
            width: 20px;
            height: 20px;
        }

        aside.card:hover .clip{
            clip-path: circle(150% at 105% 47.5%);
        }

        aside.card:hover .clip .arrow {
            visibility: hidden;
            opacity: 0;
        }
